.input-form {
  display: none;
}
input[type="text"] {
	border: #000 solid 2px;
	padding: 10px 5px;
	color: #999;
}
.btn {
	margin-top: 30px;
	padding: 10px 20px;
	border: 0;
	transition: all 0.3s;
}
.btn-add {
	color: #fff;
	background: #0000fc;
	margin: 20px 0 0 20px;
}
.btn-delete {
	color: #fff;
	background: #cd0000;
	margin: 0 0 0 20px;
}
.btn:hover {
	transform: scale(1.2);
}
